.department-chip{
	padding: 0px 10px;
  font-size: 0.65rem;
  height: 1.3rem;
}

.lect-name-room{
	margin-left: 14px;
}

.va-text-top{
	vertical-align: text-top;	
}

.word-break{
	white-space: normal;
	overflow-wrap: break-word;
}