<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button slot="start" color="light" text=""></ion-back-button>
    <ion-title text-center>Senarai Pensyarah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
	<ion-item>
	  <ion-label>
	  	<div class="lect-name-room">
		  	<ion-note color="medium"><small><b><ion-icon class="va-text-top"name="home"></ion-icon>Bilik Ketua Jabatan</b></small></ion-note><br>
		    Lecture B
	  	</div>
	    <ion-chip class="department-chip" color="secondary">
			  Secondary w/ Dark label
			</ion-chip>
	  </ion-label>
	</ion-item>
	<ion-item>
	  <ion-label>
	  	<div class="lect-name-room">
		  	<ion-note color="medium"><small><b><ion-icon class="va-text-top"name="home"></ion-icon>Bilik Ketua Jabatan</b></small></ion-note><br>
		    Lecture B
	  	</div>
	    <ion-chip class="department-chip" color="secondary">
			  Secondary w/ Dark label
			</ion-chip>
	  </ion-label>
	</ion-item>
	<ion-item>
	  <ion-label>
	  	<div class="lect-name-room">
		  	<ion-note color="medium"><small><b><ion-icon class="va-text-top"name="home"></ion-icon>Bilik Ketua Jabatan</b></small></ion-note><br>
		    Lecture B
	  	</div>
	    <ion-chip class="department-chip" color="secondary">
			  Secondary w/ Dark label
			</ion-chip>
	  </ion-label>
	</ion-item>
</ion-content>
