<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button slot="start" color="light" text=""></ion-back-button>
    <ion-title text-center>Senarai Pensyarah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
	<ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Carian" showCancelButton="focus"></ion-searchbar>
	<ion-item *ngFor="let row of lecturer;">
		<ion-label>
			<div class="lect-name-room">
				<ion-note class="capitalize" color="medium"><small><b><ion-icon class="va-text-top"name="home"></ion-icon>{{toTitleCase(row.room)}}</b></small></ion-note><br>
		    <p class="word-break capitalize">{{toTitleCase(row.name)}}</p>
	  	</div>
			<ion-chip *ngIf="row.course.includes('SAINS KUANTITATIF')" class="department-chip capitalize" color="danger">{{toTitleCase(row.course)}}</ion-chip>
			<ion-chip *ngIf="row.course.includes('PENGAJIAN AM')" class="department-chip capitalize" color="secondary">{{toTitleCase(row.course)}}</ion-chip>
			<ion-chip *ngIf="row.course.includes('PENGAJIAN PERNIAGAAN')" class="department-chip capitalize" color="tertiary">{{toTitleCase(row.course)}}</ion-chip>
			<ion-chip *ngIf="row.course.includes('PERAKAUNAN')" class="department-chip capitalize" color="success">{{toTitleCase(row.course)}}</ion-chip>
			<ion-chip *ngIf="row.course.includes('JABATAN LANDSCAPE')" class="department-chip capitalize" color="warning">{{toTitleCase(row.course)}}</ion-chip>
		</ion-label>
	</ion-item>
	<!-- <p ngIf="lecturer.length <= 0">No Result Found</p> -->
</ion-content>