ion-content{
	--ion-background-color: #92d0f3;
}

ion-toolbar{
	--ion-background-color: #92d0f3;
}

.avatar-img{
  margin: auto;
  margin-bottom: 24px;
}

.menu-icon{
  float: right;
  font-size: 30px;
  position: absolute;
  right: 5%;
  top: -10%;
}